.header{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 10;
    color: #324264;
    opacity: .8;
}

.list{
    font-size: 26px;
    margin: 15;
    text-align: center;
}

.lines {
  margin: 15;
  color: white;
  background-color: #d33432;
  opacity: .9;
  border-radius: 15;
}