.layout{
    background-image: url("~/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo{
    margin-top: 25;
    margin-bottom: 10;
}

button{
    opacity: .93;
    background-color: #d33432;
    color: white;
    font-size: 18;
    font-weight: 600;
    border-radius: 15;
    border-width: 0;
    border-color: white;
    margin-bottom: 15;
    margin-top: 15;
    margin-left: 10;
    margin-right: 10;
}

.profilebutton{
    opacity: 1;
    background-color: #324264;
    color: white;
    border-radius: 15;
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 5;
    margin-right: 5;
    font-size: 15;
}